# Environment
.env
venv/
.venv/

# Database (test data)
*.db

# Python cache
__pycache__/
*.pyc
*.pyo

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

diagrams/

GuessTheIntruder_Presentation.pptx
GuessTheIntruder_ProjectReport.docx

.env
*.db
venv/
.venv/
__pycache__/
*.pyc
.vscode/
.idea/
logs/


logs/